body{
	font-family: monospace;
	font-size: 14px;
	font-weight: bold;
	color: #D8D8D8;
	background-color: #252525;
}

@media screen and (min-aspect-ratio: 1/1){
	ul.navbar{
		display: flex;
		list-style-type: none;
		padding: 0;
		overflow: hidden;
		justify-content: space-around;
		background-color: #151515;
	}

	li.nav-item{
		display: flex;
		padding: 10px
	}
}

@media screen and (max-aspect-ratio: 1/1){
	ul.navbar{
		display: inline-block;
		list-style-type: none;
		padding: 0;
		overflow: hidden;
		justify-content: center;
		background-color: #151515;
	}

	li.nav-item{
		display: inline-block;
		padding: 10px
	}
}

li.nav-item a{
	color: #252525;
	display: block;
	text-align: center;
	background-color: #DD9090;
	border: 1px solid #DD9090;
	padding: 5px;
	text-decoration: none;
}

li.nav-item a:hover{
	background-color: #FF6060;
	border: 1px solid #FF6060;
}

li.nav-item ul.submenu{
	display: none;
	position: absolute;
	list-style-type: none;
	margin: 0;
}

li.nav-item:hover ul.submenu{
	display: block;
}

img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

img.link {
	display: flex;
	float: left;
	padding-bottom: 13px;
	padding-right: 13px;
}

h2.class {
	clear: left;
}

.title {
	text-align: center;
}

a.social, a.social:visited {
	color: #FFFFFF;
}

a.social:hover {
	background-color: #303030;
}

@media screen and (min-width: 800px) {
	body{
		width: 800px;
		margin: 0 auto;
	}
}
